.boost-div {
  font-size: 1.8em;
}

.boost-div > button {
  padding: 1%;
  width: 20%;
  border-radius: 15px;
  margin-top: 1%;
  border: none;
  background-color: hsl(180, 66%, 49%);
  font-weight: bold;
  color: white;
}

.boost-div > button:hover {
  cursor: pointer;
}
